{% extends 'article/layout.html' %}
{% load i18n %}

{% block title %}{{ block.super }}-{{ article.title|upper }}{% endblock %}

{% block content %}
    <h1>{{ article.title|upper }}</h1>
    <p>{{ article.body }}{% lorem 20 b random %}</p>
    {% autoescape off %}
    {{ tmp }}
    {% endautoescape %}
    {% get_available_languages as languages %}
    {% for lang_code, lang_name in languages %}
    {% language lang_code %}
    <a href="{% url 'page_translate' article.id %}">{{ lang_name }}</a>
    {% endlanguage %}
{% endfor %}

    {{ text }}
    {%  trans 'World' %}
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="OK">
    </form>
{% include 'article/comment_block.html' %}
{% endblock %}
